{% extends 'base.html' %}

{% block title %}Pets!{% endblock %}

{% block content %}
    <h1>Pets</h1>
    {% for pet in pets %}
        <div>
            <a href="/{{pet.id}}"><h2>{{pet.name}}</h2></a>
            <img src="{{pet.photo_url}}" alt="picture of {{pet.name}}" style="width: 200px; height: auto">
            {% if pet.available %}
                <b>Available</b>
            {% endif %}
        </div>
    {% endfor %}

    <a class="btn btn-primary" href="/add">Add a pet</a>
{% endblock %}